/* formBox */
/* .formBox {
    border: 1px solid blue;
}
*/
.formBox.limit{
    width: min(90%, 608px);
}

.formBox_header{
    padding: .5rem 2rem;
}

.formBox_header h2{
    font-size: 24px;
    border-bottom: 1px solid var(--grey-first);
    padding: 1rem 0;
}

.formBox_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    color: var(--grey-font-second);
    padding: .5rem 2rem;
}


.formBox_label {
    margin-bottom: .5rem;
}

.formBox_input, .formBox_textarea{
    border: 1px solid var(--grey-first);
    border-radius: 8px;
    padding-left: 1rem;
    color: var(--black-title);
}

.formBox_input {
    height: 46px !important;
}

.formBox_textarea{
    resize: vertical;
    padding: 1rem;
    height: 165px;
}

/* formBox_footer */
.formBox_footer {
    padding: 2rem;
    background: var(--white-second);
    border-radius: 0 0 8px 8px;
}

.formBox_footer_alert {
    font-size: 13px;
    color: var(--grey-sub-font-bold);
}

.formBox_footer_btn {
    height: 56px;
    width: 200px;
}

.formBox_footer_btn a {
    background: var(--green);
    color: var(--white);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.formBox_footer_btn a:hover {
    transform: scale(1.015);
}

/* formContainer */
.formContainer{
    width: min(740px, 100%);
    border-radius: 8px;
    background: var(--white);
}


@media (max-width: 700px) {
    .formBox_footer {
        flex-direction: column;
    }

    .formBox_footer_alert {
        margin-bottom: 1.5rem;
    }

    .formBox_footer_btn {
        width: 100%;
    }
}